<!doctype html>
<html>
<head>
  {% include header.html %}
</head>
<body oncontextmenu='return false' ondragstart='return false' onselectstart ='return false' onselect='document.selection.empty()' oncopy='document.selection.empty()' onbeforecopy='return false' onmouseup='document.selection.empty()'>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 aside3">

        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>


      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>
